.css-f3rywo {
    background: none;
    padding: 0px;
    border: none;
    cursor: pointer;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(103, 104, 106);
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 18px;
    border-radius: 5px;
    margin: 3px;
}
.css-hevnjk {
    color: rgb(120, 120, 120);
    font-size: 12px;
    letter-spacing: -0.2px;
    line-height: 16px;
}
.css-1eky56k {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    height: 43px;
}
.css-1qv3lcd {
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
}
.css-1saqk7d {
    margin: 0px 20px;
}
.star {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(74, 74, 74);
    font-weight: 400;
    letter-spacing: -0.3px;
    font-size: 13px;
    line-height: 16px;
    box-sizing: border-box;
    height: 24px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 13px;
}
.setting_pop {
    /* display: block; */
    visibility: hidden;
    position: fixed;
    inset: 0px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.56);
    overflow: hidden scroll;
}

@media (min-width: 719px) {
   .modal_container {
       text-align: center;
       padding: 20px 0px;
       overflow: auto;
   }
}

.modal_container {
    display: flex;
    position: absolute;
    inset: 0px;
    z-index: 101;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 719px) {
    .modal {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: left;
        width: 375px;
        height: auto;
        max-height: 100%;
        border-radius: 6px;
        overflow: scroll;
    }
}

.modal {
    background: rgb(255, 255, 255);
}

.modal_header {
	left: 0px;
    z-index: 50;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(227, 227, 227);
    top: 0px;
    text-align: left;
    height: auto;
}

.modal_cancel_container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cancel_button {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTIgMTIpIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxOCIgeD0iMTEiIHk9IjMiIHJ4PSIxIi8+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjExIiByeD0iMSIvPgogICAgPC9nPgo8L3N2Zz4K);
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 0px;
}

@media (min-width: 719px) {
    .modal_box {
        height: auto;
        overflow: auto;
    }
}

.modal_ul_container {
    margin: 0px 20px;
}

.modal_ul_container {
	list-style: none;
    margin: 0px;
    padding: 8px 0px 0px;	
}

.modal_ul_container ul li {
    text-align: left;
    box-sizing: border-box;
    min-height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
}

.modal_list {
	display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 48px;
    border-bottom: 1px solid rgb(234, 233, 232);
}

.modal_content {
    flex: 1 1 0%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setting_section {
	margin: 32px 0px;
}

.section_cate {
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    padding: 5px 0px;
}