.section {
    margin-top: 100px;
}

.atm {
	width: 169px;
	height: 70px;
}

.mm {
	display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.con {
	width: 600px;
	height: auto;
    border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	/* display: flex; */
}

.profile {
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	margin-bottom: 12px;
}

.comment {
	box-sizing:border-box;
	flex: 0 0 auto;
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	margin-bottom: 12px;
}

.want_movie {
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	margin-bottom: 12px;
}

.favorite_comment {
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
}

.background {
	position: relative;
	background-size: cover;
	display: flex;
	justify-content: space-between;
}

.movie_img {
	position: relative;
  	overflow: hidden
}

.want_movie ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.want_movie {
	max-width: 1320px;
	object-fit: fill;
}

.gallery_container{
	width:100%;
	max-width:1400px;
	margin:0 auto;
	overflow:hidden;
}
.gallery{
	margin:50px -20px;
	box-sizing:border-box;
}
.gallery:after{
	content:"";
	display:block;
	clear:both;
	visibility: hidden;
}
.gallery li {
	width:25%;
	float:left;
	box-sizing:border-box;
	padding:0 20px;
	margin:0 0 50px 0;
}
.gallery li img{
	width:100%;
	height:auto;
}

@media (max-width:1200px){
    .container .gallery li{width:25%;}
}
@media (max-width:768px){
    .container .gallery li{width:33.33333%;}
}
@media (max-width:560px){
    .container .gallery li{width:50%;}
}
@media (max-width:480px){
    .container .gallery li{width:100%;}
}

/* comment */
.comment_list {
	display: flex;
	flex-wrap: nowrap;
	overflow: visible;
	position: relative;
    gap: 5px;
}

.comment_list li img{
	width:100%;
	height:auto;
}

@media (max-width:768px){
    .container .comment_list li{width:33.33333%;}
}
@media (max-width:560px){
    .container .comment_list li{width:50%;}
}
@media (max-width:480px){
    .container .comment_list li{width:100%;}
}

.setting_pop {
    /* display: block; */
    visibility: hidden;
    position: fixed;
    inset: 0px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.56);
    overflow: hidden scroll;
}

@media (min-width: 719px) {
   .modal_container {
       text-align: center;
       padding: 20px 0px;
       overflow: auto;
   }
}

.modal_container {
    display: flex;
    position: absolute;
    inset: 0px;
    z-index: 101;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 719px) {
    .modal {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: left;
        width: 375px;
        height: auto;
        max-height: 100%;
        border-radius: 6px;
        overflow: scroll;
    }
}

.modal {
    background: rgb(255, 255, 255);
}

.modal_header {
	left: 0px;
    z-index: 50;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(227, 227, 227);
    position: absolute;
    top: 0px;
    text-align: left;
    height: auto;
}

.modal_cancel_container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cancel_button {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTIgMTIpIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxOCIgeD0iMTEiIHk9IjMiIHJ4PSIxIi8+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjExIiByeD0iMSIvPgogICAgPC9nPgo8L3N2Zz4K);
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 0px;
}

.modal_name {
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    margin: 0px 4px 10px;
    opacity: 1;
    transition: all 150ms ease 0s;
}

.modal_name1 div {
	display: inline-block;
    font-weight: 700;
    letter-spacing: -1.2px;
    font-size: 22px;
    line-height: 29px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal_name2 {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin: 11px 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: all 300ms ease 0s;
}

@media (min-width: 719px) {
    .modal_box {
        height: auto;
        overflow: auto;
    }
}

.modal_box {
	box-sizing: border-box;
    padding: 96px 0px 0px;
}

.modal_ul_container {
    margin: 0px 20px;
}

.modal_ul_container {
	list-style: none;
    margin: 0px;
    padding: 8px 0px 0px;	
}

.modal_ul_container ul li {
    text-align: left;
    box-sizing: border-box;
    min-height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
}

.modal_list {
	display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 48px;
    border-bottom: 1px solid rgb(234, 233, 232);
}

.modal_content {
    flex: 1 1 0%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setting_section {
	margin: 32px 0px;
}

.section_cate {
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    padding: 5px 0px;
}