.atm {
	width: 169px;
	height: 70px;
}

.mm {
	display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.con {
	width: 600px;
	height: auto;
    border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	/* display: flex; */
}

.profile {
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	margin-bottom: 12px;
}

.comment {
	box-sizing:border-box;
	flex: 0 0 auto;
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	margin-bottom: 12px;
}

.want_movie {
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
   	margin-bottom: 12px;
}

.favorite_comment {
	width: 100%;
	border: 1px solid rgb(227, 227, 227);
   	border-radius: 6px;
}

.background {
	position: relative;
	background-size: cover;
	display: flex;
	justify-content: space-between;
}

.movie_img {
	position: relative;
  	overflow: hidden
}

.want_movie ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.want_movie {
	max-width: 1320px;
	object-fit: fill;
}

.gallery_container{
	width:100%;
	max-width:1400px;
	margin:0 auto;
	overflow:hidden;
}
.gallery{
	margin:50px -20px;
	box-sizing:border-box;
}
.gallery:after{
	content:"";
	display:block;
	clear:both;
	visibility: hidden;
}
.gallery li {
	width:25%;
	float:left;
	box-sizing:border-box;
	padding:0 20px;
	margin:0 0 50px 0;
}
.gallery li img{
	width:100%;
	height:auto;
}

@media (max-width:1200px){
    .container .gallery li{width:25%;}
}
@media (max-width:768px){
    .container .gallery li{width:33.33333%;}
}
@media (max-width:560px){
    .container .gallery li{width:50%;}
}
@media (max-width:480px){
    .container .gallery li{width:100%;}
}

/* comment */
.comment_list {
	display: flex;
	flex-wrap: nowrap;
	overflow: visible;
	position: relative;
    gap: 5px;
}

.comment_list li img{
	width:100%;
	height:auto;
}

@media (max-width:768px){
    .container .comment_list li{width:33.33333%;}
}
@media (max-width:560px){
    .container .comment_list li{width:50%;}
}
@media (max-width:480px){
    .container .comment_list li{width:100%;}
}


