@media (min-width: 719px) {
	.comment_section {
		padding-top: 62px;
		padding-bottom: unset;
	}
}

.like_header {
	position: fixed;
	left: 0px;
	z-index: 50;
	background: rgb(255, 255, 255);
	box-sizing: border-box;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(227, 227, 227);
    top: 62px;
    text-align: left;
    height: auto;
}

.go_back_container {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.go_back {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 0px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTYuNzU1IDExLjk4OGw0Ljk1OCA0Ljk1OGEuOTguOTggMCAxIDEtMS4zODcgMS4zODdMNCAxMi4wMDdsLjAwNS0uMDA1TDQgMTEuOTk3bDYuMzQzLTYuMzQzYS45Ny45NyAwIDEgMSAxLjM3MyAxLjM3M2wtNC45NjEgNC45NnoiLz4KICAgICAgICA8cGF0aCBkPSJNNiAxMWgxM2ExIDEgMCAwIDEgMCAySDZ2LTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) !important;
}

.current_category {
	display: flex;
    transform: translate3d(0px, 0px, 0px);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    margin: 0px 4px 10px;
    opacity: 1;
    transition: all 150ms ease 0s;
}

.current_category > div {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -1.2px;
    font-size: 22px;
    line-height: 29px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin: 11px 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: all 300ms ease 0s;
}

.like_category {
	position: sticky;
	top: 147px;
	z-index: 10;
	background: rgb(255, 255, 255);
}

.comment_container {
	max-width: 640px;
	padding: 0px 20px 100px;
	margin: 120px auto 0px;
}

.comment_ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.comment_ul li {
	background-color: rgb(242, 242, 242);
	box-sizing: border-box;
	padding: 0px 12px;
	border-radius: 6px;
	overflow: hidden;
	margin: 0px 0px 20px;
}

.user_container {
	display: flex;
	border-bottom: 1px solid rgb(229, 229, 229);
	overflow: hidden;
}

.comment_user {
	flex: 1 1 0%;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: -0.7px;
	line-height: 22px;
	overflow: hidden;
}

.comment_user a {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.photo_container {
	border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 11px 8px 11px 0px;
}

.photo {
	position: relative;
    z-index: 1;
    background: url(https://an2-img.amz.wtchn.net/image/v2/Qp5xiCTHxR5DPlUHPaVJ5Q.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1UQXdlREV3TUNKZExDSndJam9pTDNZeUwzTjBiM0psTDNWelpYSXZPRGRIZGpkdGJYZEVlRVUyYnk5d2NtOW1hV3hsTHpFM01EUXdOemczTVRrd016WXdNekE0TVRraWZRLmdNbXhCSmhyUUx3MmlFMVgwd3FUMUd1bmNHLWN4WmljTVpTdl9sM2tJams) center center / cover no-repeat;
    width: 100%;
    height: 100%;
}

.user_name {
	color: rgb(31, 31, 31);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.evaluation {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    box-sizing: border-box;
    min-width: 55px;
    height: 26px;
    padding: 0px 8px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 13px;
    margin: 15px 0px 0px 16px;
}

.evaluation img {
	width: 16px;
	height: 16px;
    vertical-align: top;
    margin: 0px 3px 0px 0px;
}

.comment_content {
	position: relative;
    margin: 12px 0px 15px;
    height: auto;
}

.comment_display {
	display: flex;
}

.comment_display > a {
	width: 15.4%;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    overflow: hidden;
}

.comment_display a img {
	width: 100%;
}

.comment_text {
    flex: 1 1 0%;
}

.comment_text p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0px 0px 2px;
}

.comment_text a div {
    white-space: pre-line;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 24px;
    overflow: hidden;
    opacity: 1;
    transition: all 400ms ease 0s;
}

.css-1ru3g24 svg {
    margin-right: 5px;
}
.css-1m6czca {
    width: 20px;
    height: 20px;
}