.comment_section {
	margin-top: 220px;
}

.filter {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(251, 251, 251);
    height: 48px;
    position: absolute;
    bottom: -49px;
    width: 100%;
    margin: 0px -16px;
}

.filter_wrap {
	margin: 0px 20px;
}

.filter_wrap button {
    background: none;
    padding: 0px;
    border: none;
    margin: 0px;
    cursor: pointer;
}

.filter_icon {
	display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiNBMEEwQTAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjY2MyAxNS44N2wtNS40OTQtNWEuNS41IDAgMCAxIC4zMzctLjg3aDEwLjk4OGEuNS41IDAgMCAxIC4zMzcuODdsLTUuNDk0IDVhLjUuNSAwIDAgMS0uNjc0IDB6Ii8+Cjwvc3ZnPgo=) center center / contain no-repeat;
    width: 24px;
    height: 24px;
    vertical-align: top;
}

.filter_name {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin: 3px 0px 0px 2px;
}

.movie_section {
	padding-top: 10px;
}

.ul_conatiner {
	margin: 0px 20px;
}

.movie_list_container {
    list-style: none;
    padding: 0px;
    margin: 14px -5px 0px;
    overflow: hidden;
}

.movie_list_container li {
	width: 11.1111%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px 5px;
    margin: 0px 0px 24px;
}

@media (min-width: 1200px) {
    .movie_list_container > li {
        width: 11.1111%;
    }
}
@media (min-width: 1100px) {
    .movie_list_container > li {
        width: 12.5%;
    }
}
@media (min-width: 960px) {
    .movie_list_container > li {
        width: 14.2857%;
    }
}
@media (min-width: 840px) {
    .movie_list_container > li {
        width: 16.6667%;
    }
}
@media (min-width: 680px) {
    .movie_list_container > li {
        width: 20%;
    }
}
@media (min-width: 520px) {
    .movie_list_container > li {
        width: 25%;
    }
}

.movie_list_container li a {
	display: inline-block;
    text-decoration: none;
    width: 100%;
}

.movie_img_container {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 145.37%;
}

.movie_img {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(234, 233, 232);
    border-radius: 5px;
    background: rgb(248, 248, 248);
    transition: all 300ms ease 0s;
}

.movie_img img {
	vertical-align: top;
    width: 100%;
    height: 100%;
    min-height: 1px;
    opacity: 0;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}

.movie_info {
	text-align: left;
    width: calc(100% - 10px);
    margin: 5px 10px 0px 0px;
}

.setting_pop {
    /* display: block; */
    visibility: hidden;
    position: fixed;
    inset: 0px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.56);
    overflow: hidden scroll;
}

@media (min-width: 719px) {
   .modal_container {
       text-align: center;
       padding: 20px 0px;
       overflow: auto;
   }
}

.modal_container {
    display: flex;
    position: absolute;
    inset: 0px;
    z-index: 101;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 719px) {
    .modal {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: left;
        width: 375px;
        height: auto;
        max-height: 100%;
        border-radius: 6px;
        overflow: scroll;
    }
}

.modal {
    background: rgb(255, 255, 255);
}

.modal_header {
	left: 0px;
    z-index: 50;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(227, 227, 227);
    top: 0px;
    text-align: left;
    height: auto;
}

.modal_cancel_container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cancel_button {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTIgMTIpIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxOCIgeD0iMTEiIHk9IjMiIHJ4PSIxIi8+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjExIiByeD0iMSIvPgogICAgPC9nPgo8L3N2Zz4K);
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 0px;
}

@media (min-width: 719px) {
    .modal_box {
        height: auto;
        overflow: auto;
    }
}

.modal_ul_container {
    margin: 0px 20px;
}

.modal_ul_container {
	list-style: none;
    margin: 0px;
    padding: 8px 0px 0px;	
}

.modal_ul_container ul li {
    text-align: left;
    box-sizing: border-box;
    min-height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
}

.modal_list {
	display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 48px;
    border-bottom: 1px solid rgb(234, 233, 232);
}

.modal_content {
    flex: 1 1 0%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setting_section {
	margin: 32px 0px;
}

.section_cate {
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 19px;
    padding: 5px 0px;
}